Repository yarafie/awesome-ha-blueprints: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser mdx --write, prettier --write

.lintstagedrc.json:

{
  "*.mdx": "prettier --parser mdx --write",
  "*.{js,jsx,ts,tsx,json,yaml,yml}": "prettier --write"
}

[Fix] ahb-validate-semantic.mjs to recognize HA tags
  .github/ahb_validate/scripts/ahb-validate-semantic.mjs
Due: none

[FEATURE] Light hook added support for selecting multiple devices (non-breaking) (#416)
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
Due: prettier --write

[Feature] Added support for SONOFF SNZB-01P Wireless Button.
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.20/2026.02.20.mdx
Due: prettier --parser mdx --write

Updated README
  .github/README.md
  library_report.md
Due: none

[Bug Fix] Fixed issue ikea-e1524_e1810 fix zha button up/down values #434 by adding handling for special events sent by E1810 TRÅDFRI.
  website/docs/blueprints/controllers/ikea_e1524_e1810/EPMatt/awesome/2026.01.25/2026.01.25.mdx
  website/docs/blueprints/controllers/ikea_e1524_e1810/EPMatt/awesome/2026.01.25/ikea_e1524_e1810.yaml
  website/docs/blueprints/controllers/ikea_e1524_e1810/EPMatt/awesome/2026.01.25/version.json
  website/docs/blueprints/controllers/ikea_e1524_e1810/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e1524_e1810/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

[New Controller] Added IKEA Styrbar E2001/E2002/E2313 kept original E2001/E2002 may be retired in the future.
  library_report.md
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2025.11.16/2025.11.16.mdx
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2025.11.16/ikea_e2001_e2002.yaml
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2025.11.16/version.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2026.02.18/2026.02.18.mdx
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2026.02.18/ikea_e2001_e2002_e2313.yaml
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/2026.02.18/version.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/hooks.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/ikea_e2001_e2002.mdx.legacy
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/awesome/release.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/EPMatt/library.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/blueprint.json
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/ikea_e2001_e2002_e2313.pdf
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/ikea_e2001_e2002_e2313.png
  website/docs/blueprints/controllers/ikea_e2001_e2002_e2313/index.mdx
  website/docs/blueprints/hooks/cover/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/release.json
  website/static/img/controllers/ikea_e2001_e2002_e2313.png
  website/static/img/controllers/sonoff_snzb01p.png
Due: prettier --parser mdx --write, prettier --write

[New Controller] Added support for IKEA E2489 BILRESA remote control with buttons.
  library_report.md
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/2026.02.22/2026.02.22.mdx
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/2026.02.22/ikea_e2489.yaml
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/2026.02.22/version.json
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/hooks.json
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/awesome/release.json
  website/docs/blueprints/controllers/ikea_e2489/EPMatt/library.json
  website/docs/blueprints/controllers/ikea_e2489/blueprint.json
  website/docs/blueprints/controllers/ikea_e2489/ikea_e2489.pdf
  website/docs/blueprints/controllers/ikea_e2489/ikea_e2489.png
  website/docs/blueprints/controllers/ikea_e2489/index.mdx
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.22/2026.02.22.mdx
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.22/cover.yaml
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.22/version.json
  website/docs/blueprints/hooks/cover/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/cover/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.22/2026.02.22.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.22/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.22/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.22/2026.02.22.mdx
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.22/media_player.yaml
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.22/version.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/release.json
  website/static/img/controllers/ikea_e2489.png
Due: prettier --parser mdx --write, prettier --write

[New Controller] Added support for EnOcean PTM 215Z (Friends Of Hue)
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/2026.02.24.mdx
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/en_ocean_ptm_215z_foh.yaml
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/version.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/changelog.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/hooks.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/release.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/library.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/blueprint.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/en_ocean_ptm_215z_foh.png
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/index.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/2026.02.24.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

[New Controller] Added support for EnOcean PTM 215Z (Friends Of Hue) (#429)
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/2026.02.24.mdx
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/en_ocean_ptm_215z_foh.yaml
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/2026.02.24/version.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/changelog.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/hooks.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/awesome/release.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/Nicolai-/library.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/blueprint.json
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/en_ocean_ptm_215z_foh.png
  website/docs/blueprints/controllers/en_ocean_ptm_215z_foh/index.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/2026.02.24.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.24/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

Update Library Report
  library_report.md
Due: none

[Feature] Added support for Matter Integration
  website/docs/blueprints/controllers.mdx
  website/docs/controllers-hooks-ecosystem.mdx
  website/src/components/library_docs/BlueprintItem.tsx
  website/src/components/library_docs/BlueprintPage.tsx
  website/src/components/library_docs/BlueprintsList.tsx
  website/src/components/library_docs/Requirement.tsx
  website/src/components/library_docs/requirements/controllers/MatterRequirement.tsx
  website/static/img/controllers/en_ocean_ptm_215z_foh.png
Due: prettier --parser mdx --write, prettier --write

[Blueprint] Added support for IKEA E2490 BILRESA remote control with scroll wheel.
  library_report.md
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/2026.02.28/2026.02.28.mdx
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/2026.02.28/ikea_e2490.yaml
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/2026.02.28/version.json
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/hooks.json
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/awesome/release.json
  website/docs/blueprints/controllers/ikea_e2490/EPMatt/library.json
  website/docs/blueprints/controllers/ikea_e2490/blueprint.json
  website/docs/blueprints/controllers/ikea_e2490/ikea_e2490.pdf
  website/docs/blueprints/controllers/ikea_e2490/ikea_e2490.png
  website/docs/blueprints/controllers/ikea_e2490/index.mdx
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.28/2026.02.28.mdx
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.28/cover.yaml
  website/docs/blueprints/hooks/cover/EPMatt/awesome/2026.02.28/version.json
  website/docs/blueprints/hooks/cover/EPMatt/awesome/actions.json
  website/docs/blueprints/hooks/cover/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/cover/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.28/2026.02.28.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.28/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.28/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/actions.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.28/2026.02.28.mdx
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.28/media_player.yaml
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.28/version.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/actions.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/release.json
  website/static/img/controllers/ikea_e2490.png
Due: prettier --parser mdx --write, prettier --write

[Bug Fix] Potential Breaking Change. state color_temp was deprecated in HA 2026.3 replaced with color_temp_kelvin. You may need to update any automations using the light hook abd reconfigure.
  library_report.md
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.07/2026.03.07.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.07/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.07/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

[Bug Fix] Potential Breaking Change. Changed the increase/decrease steps for color_temp_kelvin from 50 to 250 to be more inline with the kelvin scale 1000 to 10,000.
  library_report.md
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.10/2026.03.10.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.10/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.03.10/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write
