Repository yarafie/awesome-ha-blueprints: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser mdx --write, prettier --write

feat: add Moes XH-SY-04Z 4 button remote controller blueprint
  website/docs/blueprints/controllers/moes_xh_sy_04z/blueprint.json
  website/docs/blueprints/controllers/moes_xh_sy_04z/index.mdx
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/anything/2026.04.06/2026.04.06.mdx
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/anything/2026.04.06/moes_xh_sy_04z.yaml
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/anything/2026.04.06/version.json
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/anything/changelog.json
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/anything/release.json
  website/docs/blueprints/controllers/moes_xh_sy_04z/wobondar/library.json
Due: prettier --parser mdx --write, prettier --write

Change command from 'stop' to 'stop_with_on_off'
  website/docs/blueprints/controllers/ikea_e1743/EPMatt/awesome/2025.10.12/ikea_e1743.yaml
Due: prettier --write

fix: correct ikea_e2001_e2002 yarafie release showing wrong integrations and hooks (#523)
  website/docs/blueprints/controllers/ikea_e2001_e2002/manifest.yaml
  website/scripts/generate.mjs
Due: prettier --write

[Bug Fix] Added additional device name/model for mqtt philips gen2.
  library_report.md
  website/docs/blueprints/controllers/philips_929002398602/EPMatt/awesome/2026.04.19/philips_929002398602.yaml
  website/docs/blueprints/controllers/philips_929002398602/EPMatt/awesome/changelog.json
Due: prettier --write

[Update] library_report.md
  library_report.md
Due: none

[Enhancement] Properly display release under releases in BlueprintPage
  website/src/components/library_docs/BlueprintPage.tsx
Due: prettier --write

[Update] Updated to docusaurus 3.10.0
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

[Update] Update rel.releaseId display in BlueprintPage
  website/src/components/library_docs/BlueprintPage.tsx
Due: prettier --write

Path conditions:
  prettier --parser mdx --write: any of: *.mdx
  prettier --write: any of: *.{js,jsx,ts,tsx,json,yaml,yml}
