Repository yarafie/awesome-ha-blueprints: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser mdx --write, prettier --write

Update metrics.tsx to use shapes instead of Cell in preperation for Recharts 4.0.0
  website/src/pages/metrics.tsx
Due: prettier --write

Update react/react-dom and types/react
  pnpm-lock.yaml
  website/package.json
Due: prettier --write

[FEATURE] Added support for Philips 8719514440937/8719514440999 Hue Tap dial switch
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/2026.02.09.mdx
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/philips_8719514440937_8719514440999.yaml
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/version.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/changelog.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/hooks.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/philips_8719514440937_8719514440999.mdx.legacy
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/release.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/library.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/philips_8719514440937_8719514440999.png
Due: prettier --parser mdx --write, prettier --write

[FEATURE] Added support for setting "on color temperature"
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/2026.02.09.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
  website/static/img/hooks/media_player.png
Due: prettier --parser mdx --write, prettier --write

Fix for zha. Changed from stop to stop_with_on_off
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.01.28/2026.01.28.mdx
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.01.28/ikea_e2201.yaml
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.01.28/version.json
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

Remove Nicolai entry from EPMatt release.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --write

[FEATURE] Added support for setting "on color temperature" (#400)
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/2026.02.09.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/version.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
  website/static/img/hooks/media_player.png
Due: prettier --parser mdx --write, prettier --write

fixup! [FEATURE] Added support for Philips 8719514440937/8719514440999 Hue Tap dial switch
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/blueprint.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/index.mdx
Due: prettier --parser mdx --write, prettier --write

Added support for Philips 8719514440937/8719514440999 Hue Tap dial switch (#399)
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/2026.02.09.mdx
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/philips_8719514440937_8719514440999.yaml
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/2026.02.09/version.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/changelog.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/hooks.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/philips_8719514440937_8719514440999.mdx.legacy
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/awesome/release.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/Nicolai-/library.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/blueprint.json
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/index.mdx
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/philips_8719514440937_8719514440999.png
Due: prettier --parser mdx --write, prettier --write

Added support for Philips 8719514440937/8719514440999 Hue Tap dial switch in light hook
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
Due: prettier --write

Added support for Philips 8719514440937/8719514440999 Hue Tap dial switch in light hook (#413)
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
Due: prettier --write

[Fix] light.mdx to add additional SupportedControllers Block. Need to look into later the SupportedControllers Function.
  website/docs/blueprints/controllers/philips_8719514440937_8719514440999/blueprint.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/2026.02.09.mdx
  website/docs/blueprints/hooks/light/light.png
  website/static/img/hooks/media_player.png
Due: prettier --parser mdx --write, prettier --write

[Fix] Add philips_8719514440937_8719514440999 under supported controllers for light in release.json
  website/docs/blueprints/hooks/light/EPMatt/awesome/release.json
Due: prettier --write

[Fix] Update light 2026.02.09.mdx
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/2026.02.09.mdx
Due: prettier --parser mdx --write

[Update] cover/light/media_player images.png
  website/docs/blueprints/hooks/cover/cover.png
  website/docs/blueprints/hooks/light/light.png
  website/docs/blueprints/hooks/media_player/media_player.png
Due: none

[Update] Added additional variants for the Tuya Smart Rotary Knob
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/2026.02.17/2026.02.17.mdx
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/2026.02.17/tuya_ers_10tzbvk_aa.yaml
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/2026.02.17/version.json
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/release.json
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/blueprint.json
Due: prettier --parser mdx --write, prettier --write

[Update] Added additional variants for the Tuya Smart Rotary Knob
  website/docs/blueprints/controllers/tuya_ers_10tzbvk_aa/EPMatt/awesome/changelog.json
  website/static/img/controllers/philips_8719514440937_8719514440999.png
  website/static/img/hooks/cover.png
  website/static/img/hooks/light.png
  website/static/img/hooks/media_player.png
Due: prettier --write

[Bug Fix] Update volume down button mappings for ikea_e2201/media_player hook
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.02.17/2026.02.17.mdx
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.02.17/ikea_e2201.yaml
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/2026.02.17/version.json
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/changelog.json
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/hooks.json
  website/docs/blueprints/controllers/ikea_e2201/EPMatt/awesome/release.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.17/2026.02.17.mdx
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.17/media_player.yaml
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/2026.02.17/version.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/changelog.json
  website/docs/blueprints/hooks/media_player/EPMatt/awesome/release.json
Due: prettier --parser mdx --write, prettier --write

[FEATURE] Light hook added support for selecting multiple devices (non-breaking)
  website/docs/blueprints/hooks/light/EPMatt/awesome/2026.02.09/light.yaml
  website/docs/blueprints/hooks/light/EPMatt/awesome/changelog.json
Due: prettier --write

Path conditions:
  prettier --parser mdx --write: any of: *.mdx
  prettier --write: any of: *.{js,jsx,ts,tsx,json,yaml,yml}
